@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
}

@layer base {
  body {
    @apply text-base font-normal text-gray-600 overflow-x-hidden min-h-[100%];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-gray-900;
  }

  a,
  button,
  span {
    @apply inline-block;
  }

  a {
    @apply no-underline;
  }

  strong {
    @apply font-medium;
  }
}

@layer components {
  /* .container {
    @apply max-w-7xl mx-auto px-4;
  } */

  .btn {
    @apply text-xl font-semibold py-4 px-8 rounded-lg transition-all duration-300 cursor-pointer;
  }

  .btn-full {
    @apply bg-orange-500 text-white hover:bg-orange-600;
  }

  .btn-outline {
    @apply bg-white text-gray-600 hover:bg-orange-100 hover:shadow-[inset_0_0_0_3px_theme(colors.orange.500)];
  }

  .link {
    @apply text-orange-500 border-b-2 border-current pb-0.5 transition-all duration-300 hover:text-orange-600 hover:border-transparent;
  }
}

@layer utilities {
  .focus-visible {
    @apply outline-none ring-4 ring-orange-500 ring-opacity-50;
  }
}
